@using ServiceStack.ServiceInterface.Auth
@{
    var currentSession = GetSession<AuthUserSession>();
}
<!DOCTYPE html>
<html data-ng-app="bitsignal">
<head>
    <title>Bitcoin price alerts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" media="screen">
</head>
<body>
    <noscript>Javascript is required for this application.</noscript>
    <span data-ng-init="authenticated = @currentSession.IsAuthenticated.ToString().ToLower()"/>
    <div class="container">
        <div class="hero-unit">
            <div>
                <h1>Bitcoin price alerts
                </h1>
                <p>
                    Get notified when the price of bitcoins hits your sweet spot.
                </p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                @RenderBody()
            </div>
            <div class="span4">
                <div data-ng-cloak="" data-ng-show="authenticated">@Html.Partial("_Authenticated")</div>
                <div data-ng-cloak="" data-ng-hide="authenticated">@Html.Partial("_NonAuthenticated")</div>
            </div>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
</body>
</html>
